/* Carousel img {
    height: 100px;
} */

.carousel-caption h1,
.carousel-caption p,
.carousel-caption a {
  color: #232121; 
}

footer {
  background-color: #778899; 
  color: #ffffff; 
  padding: 10px; 
  text-align: center;
  width: 100%;
  height: 200%;
  margin-top: 50px;
  bottom: 0;
  
}

#myCarousel {

  background-color: #696969;

}

.carousel-inner img {
  object-fit: cover;
  width: 350px;
  height: 350px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-container h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff; /* Color del texto */
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover img {
  transform: translateX(10px); /* Deslizar la imagen hacia la derecha */
}

.image-container:hover .button-container {
  opacity: 1;
}


.bodycontainer {
  background-color: #273152; /* Azul Oscuro */
  color: white;
  padding: 50px;
}

#portada-inicio:hover .img-fluid {
  transition: transform 0.3s ease-in-out; 
  transform: scale(1.1);
  
}

#portada-inicio:not(:hover) .img-fluid {

  transform: scale(1);

}

.TyB {

  text-align: center;
  background-color:#778899;
  color: #ffffff; 
  padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }

  

}

.LyF {

  text-align: center;
  background-color:#778899;
  color: #ffffff; 
  padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }

}

.featurette:hover .col-md-5 img {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-10px); /* Mueve el elemento hacia la izquierda */
}

.featurette .col-md-7 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
}

.featurette:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra al pasar el cursor */
  transition: box-shadow 0.3s ease; /* Agrega una transición suave */
}

.P {

  text-align: center;
  background-color:#778899;
  color: #ffffff; 
  padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }

}