
/* esto da color a la pagina */

:host {
  display: block;
  background-color: #273152;
}

/* esto mueve al centro el texto de la imagen que sale al inicio */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* esto da tamaño pequeño al texto que sale con la imagen en el inicio para pantallas de celular */
@media only screen and (max-width: 576px) {
  .text-body-emphasis h2,
  .btn {
    font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas de celular */
  }
}




/* Estilos para contenedor de imágenes */
.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 100%;
  height: 100%; /* Ajustar imagen al 100% de la altura del contenedor */
  object-fit: cover; /* Ajustar imagen al tamaño del contenedor sin distorsionar */
  transition: transform 0.3s ease;
}

.image-container h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff; /* Color del texto */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem; /* Tamaño de fuente */
}

/* Estilos para contenedor de botones */
.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Estilos para efecto hover */
.image-container:hover img {
  transform: scale(1.05); /* Agrandar la imagen en el hover */
}

.image-container:hover .button-container {
  opacity: 1;
}




.TyB {

  text-align: center;
  background-color:#778899;
  color: #ffffff; 
  padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }

}

/* esta clase puede cambiar el tamaño de las card que estan en el carousel */
.custom-img {
  width: 300px; /* Elige el ancho deseado */
  height: 300px; /* Elige la altura deseada */
}

.carousel-caption h1,
.carousel-caption p,
.carousel-caption a {
  color: #232121; 
}

/* lo que sale a continuacion es el css del segundo carousel que aparece  */
#myCarousel {

  background-color: #696969;

}

.carousel-image {
  max-width: 350px; /* ajusta el ancho máximo según tus necesidades */
  height: auto; /* esto mantendrá la relación de aspecto original */
}


.LyF {

  text-align: center;
  background-color:#778899;
  color: #ffffff; 
  padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }
}




.P {

  text-align: center;
  background-color:#778899;
  color: #ffffff; 
  padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }

}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según sea necesario */
  
}

.accordion-button {
color: black !important;
text-align: center;

}


.accordion-item {
  background-color: #273152;
  border: none; /* Elimina el borde */
  border-radius: 0.5rem; /* Agrega bordes redondeados */
  margin-bottom: 10px; /* Espacio entre los paneles */
}

/* Estilo para el texto de los botones de la acordeón */
.accordion-button {
  color: white; /* Color del texto */
}

/* Estilo para el texto del cuerpo de los paneles de la acordeón */
.accordion-body {
  color: white; /* Color del texto */
}

/* Estilo para el icono de los botones de la acordeón */
.accordion-button::after {
  color: white; /* Color del icono */
}

/* Estilo para el ícono de los botones de la acordeón cuando están colapsados */
.accordion-button.collapsed::after {
  color: white; /* Color del icono */
}

.nombre-grifo {

  text-align: center;
  color: #ffffff; 
  padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }

}

/* esto mantiene del mismo tamaño el segundo carousel */
.carousel-inner img {
  object-fit: cover;
  width: 350px;
  height: 350px;
}



/* ultima parte antes del footer */
.featurette:hover .col-md-5 img {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-10px); /* Mueve el elemento hacia la izquierda */
}

.featurette .col-md-7 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
}

.featurette:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra al pasar el cursor */
  transition: box-shadow 0.3s ease; /* Agrega una transición suave */
}




footer {
  background-color: #778899; 
  color: #ffffff; 
  padding: 10px; 
  text-align: center;
  width: 100%;
  height: 200%;
  margin-top: 50px;
  bottom: 0;
  
}

.clima-card {
  background-color: #778899; /* color de fondo sutil */
  border: 1px solid #ffffff; /* borde sutil */
  border-radius: 10px; /* bordes redondeados */
  padding: 20px; /* espaciado interno */
  max-width: 300px; /* ancho máximo */
  margin: 20px auto; /* margen auto para centrar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra sutil */
  text-align: center; /* centrar el texto */
  color: #273152; /* color del texto */
  transition: transform 0.3s ease-in-out; /* transición suave */
}

.clima-card:hover {
  transform: scale(1.05); /* agranda la tarjeta un 5% */
}

.clima-card h1 {
  font-size: 1.5em; /* tamaño de fuente para el título */
  margin-bottom: 10px; /* margen inferior */
}

.clima-card .item-clima {
  font-size: 1.2em; /* tamaño de fuente para los elementos del clima */
  margin: 5px 0; /* margen vertical */
}

.clima-card .iconClima {
  width: 50px; /* ancho de la imagen del icono */
  height: 50px; /* altura de la imagen del icono */
  margin-top: 10px; /* margen superior */
}
