<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Marcelo Quincalleria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Ferreteria">Ferretería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contactos">Barnices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Madera">Madera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contactos">Cubierta para muebles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contactos">Contactos</a>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

   <!-- Título -->


<div id="Titulo" class="container mt-5">
    <div class="text-center">
        <h1>
            Cubiertas
          </h1>
      </div>
  </div>

  

 <!-- imagenes -->

<div class="container mt-5">

    <div class="row mb-2">
        <div id="card1" class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
              <h3 class="mb-0">CUBIERTA MUEBLE</h3>
              <div class="mb-1 text-body-secondary">110X40 CON RESPALDO / VARIOS COLORES</div>
              <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                <!-- Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/cubierta1.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
        <div id="card2" class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
              <h3 class="mb-0">CUBIERTA MUEBLE</h3>
              <div class="mb-1 text-body-secondary"></div>
             <!--  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                <!-- Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/>110X40 SIN RESPALDO / VARIOS COLORES</svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="/assets/img/cubierta2.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div id="card3" class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
              <h3 class="mb-0">CUBIERTA MUEBLE</h3>
              <div class="mb-1 text-body-secondary">125X50 CON RESPALDO / VARIOS COLORES</div>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
               <!--  Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/cubierta3.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
        <div id="card4" class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
              <h3 class="mb-0">CUBIERTA MUEBLE</h3>
              <div class="mb-1 text-body-secondary">125X50 SIN RESPALDO / VARIOS COLORES</div>
            <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                <!-- Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/cubierta4.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div id="card5" class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
              <h3 class="mb-0">CUBIERTA MUEBLE</h3>
              <div class="mb-1 text-body-secondary"></div>
            <!--<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                <!-- Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/>145X50 CON RESPALDO / VARIOS COLORES</svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/cubierta5.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
        <div id="card6" class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
              <h3 class="mb-0">CUBIERTA MUEBLE</h3>
              <div class="mb-1 text-body-secondary">145X50 SIN RESPALDO / VARIOS COLORES</div>
              <!-- <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                <!-- Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/cubierta6.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
        <div id="card7" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
                <h3 class="mb-0">CUBIERTA MUEBLE</h3>
                <div class="mb-1 text-body-secondary">175X50 CON RESPALDO / VARIOS COLORES</div>
                <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                 <!--  Continue reading -->
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="assets/img/cubierta7.jpg" height="150px" width="150px" alt="">
              </div>
            </div>
          </div>
          <div id="card8" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
                <h3 class="mb-0">CUBIERTA MUEBLE</h3>
                <div class="mb-1 text-body-secondary">175X50 SIN RESPALDO / VARIOS COLORES</div>
                <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                 <!--  Continue reading -->
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="assets/img/cubierta8.jpg" height="150px" width="150px" alt="">
              </div>
            </div>
          </div>
          <div id="card9" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
                <h3 class="mb-0">CUBIERTA MUEBLE</h3>
                <div class="mb-1 text-body-secondary">175X53 CON RESPALDO / VARIOS COLORES</div>
                <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                 <!--  Continue reading -->
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="assets/img/cubierta9.jpg" height="150px" width="150px" alt="">
              </div>
            </div>
          </div>
          <div id="card10" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Cubiertas para muebles</strong>
                <h3 class="mb-0">CUBIERTA MUEBLE</h3>
                <div class="mb-1 text-body-secondary">175X53 SIN RESPALDO / VARIOS COLORES</div>
                <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                 <!--  Continue reading -->
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="assets/img/cubierta10.jpg" height="150px" width="150px" alt="">
              </div>
            </div>
          </div>
      </div>
    
  </div>
  
  
    <!-- footer -->
    
  
    <div class="b-example-divider"></div>
  
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary ms-2">Marcelo Quincalleria</span> <!-- Agregué un margen a la izquierda (ms-2) -->
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex flex-column"> <!-- Clase flex-column para los elementos de la lista -->
        <li class="mb-2"><a class="text-body-secondary" href="https://wa.me/+56965667034">Contáctanos en Whatsapp<i class="bi bi-whatsapp ms-2"></i></a></li> <!-- Agregué un margen a la izquierda (ms-2) -->
        <li class="mb-2"><a class="text-body-secondary" href="mailto:nicolassalinasvenegas@gmail.com">Envíanos un correo<i class="bi bi-envelope-at-fill ms-2"></i></a></li> <!-- Agregué un margen a la izquierda (ms-2) -->
        <!-- <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li> -->
      </ul>
    </footer>
  </div>   