
#Titulo {

    background-color:#778899;
    color: #ffffff; 
    padding: 10px; h1:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    }

  }

  footer {
    background-color: #778899; 
    color: #ffffff; 
    padding: 10px; 
    text-align: center; 
  }

  #card1 {

    transition: transform 0.3s ease-in-out;

  }

  #card1:hover {

    transform: scale(1.1);

  }

  #card2 {

    transition: transform 0.3s ease-in-out;

  }

  #card2:hover {

    transform: scale(1.1);

  }

  #card3 {

    transition: transform 0.3s ease-in-out;

  }

  #card3:hover {

    transform: scale(1.1);

  }

  #card4 {

    transition: transform 0.3s ease-in-out;

  }

  #card4:hover {

    transform: scale(1.1);

  }

  #card5 {

    transition: transform 0.3s ease-in-out;

  }

  #card5:hover {

    transform: scale(1.1);

  }

  #card6 {

    transition: transform 0.3s ease-in-out;

  }

  #card6:hover {

    transform: scale(1.1);

  }

  #card7 {

    transition: transform 0.3s ease-in-out;

  }

  #card7:hover {

    transform: scale(1.1);

  }

  #card8 {

    transition: transform 0.3s ease-in-out;

  }

  #card8:hover {

    transform: scale(1.1);

  }

  #card9 {

    transition: transform 0.3s ease-in-out;

  }

  #card9:hover {

    transform: scale(1.1);

  }

  #card10 {

    transition: transform 0.3s ease-in-out;

  }

  #card10:hover {

    transform: scale(1.1);

  }