<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Marcelo Quincalleria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Ferreteria">Ferretería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contactos">Barnices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Madera">Madera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contactos">Cubierta para muebles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contactos">Contactos</a>
        </li>
      </ul>
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>


<!-- Título de la página -->

<div id="Titulo" class="container mt-5">
  <div class="text-center">
      <h1>
          Tiradores y Perillas
        </h1>
    </div>
</div>

<!-- Combobox -->

<div class="container mt-5">

  <select class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="cambioCategoria($event)">
    <option selected>Categoría</option>
    <option value="1">Tapacantos</option>
    <option value="2" >Bisagras</option>
    <option value="3">Tiradores y perillas</option>
    <option value="4">Correderas</option>
    <option value="5">Rieles</option>
    <option value="6">Lavaplatos</option>
    <option value="7">Fijación</option>
    <option value="8">Pernos</option>
    <option value="9">Soportes</option>
    <option value="10">Patas y Patines</option>
    
  </select>

<!--  <select class="form-select form-select-sm" aria-label="Small select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>

</div> -->

<!-- imagenes -->

<div class="container mt-5">

  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
            <h3 class="mb-0">Tirador metálico sevillana</h3>
            <div class="mb-1 text-body-secondary">160mm</div>
            <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              <!-- Continue reading -->
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="assets/img/TIRADOR-METALICO-SEVILLANA.jpg" height="150px" width="150px" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
            <h3 class="mb-0">Tirador metálico asturias</h3>
            <div class="mb-1 text-body-secondary">160mm</div>
           <!--  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              <!-- Continue reading -->
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/assets/img/asturias.jpg" height="150px" width="150px" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
            <h3 class="mb-0">Tirador partenon</h3>
            <div class="mb-1 text-body-secondary">gris 96 plástico</div>
          <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
             <!--  Continue reading -->
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="assets/img/tirador_partenon.jpg" height="150px" width="150px" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
            <h3 class="mb-0">Perilla olímpica metal</h3>
            <div class="mb-1 text-body-secondary"></div>
          <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              <!-- Continue reading -->
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="assets/img/perilla-olimpica-metal.jpeg" height="150px" width="150px" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
            <h3 class="mb-0">Tirador Concha</h3>
            <div class="mb-1 text-body-secondary"></div>
          <!--<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              <!-- Continue reading -->
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="assets/img/CONCHA.jpg" height="150px" width="150px" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
            <h3 class="mb-0">Tirador rústico estrella</h3>
            <div class="mb-1 text-body-secondary"></div>
            <!-- <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              <!-- Continue reading -->
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="assets/img/tirador-estrella.jpeg" height="150px" width="150px" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
              <h3 class="mb-0">Tirador Balin</h3>
              <div class="mb-1 text-body-secondary">20x25mm</div>
              <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
               <!--  Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/BALIN.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
              <h3 class="mb-0">Tirador Madera</h3>
              <div class="mb-1 text-body-secondary">40mm</div>
              <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
               <!--  Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/MADERA.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Tiradores y perillas</strong>
              <h3 class="mb-0">Perillas lisa café</h3>
              <div class="mb-1 text-body-secondary">Bolsa 100 unidades</div>
              <!--<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
               <!--  Continue reading -->
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/perilla_cafe.jpg" height="150px" width="150px" alt="">
            </div>
          </div>
        </div>
    </div>
  
</div>



<!-- footer -->


<div class="b-example-divider"></div>

<div class="container">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary ms-2">Nombre de la Tienda</span> <!-- Agregué un margen a la izquierda (ms-2) -->
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex flex-column"> <!-- Clase flex-column para los elementos de la lista -->
    <li class="mb-2"><a class="text-body-secondary" href="#">Contáctanos en Whatsapp<i class="bi bi-whatsapp ms-2"></i></a></li> <!-- Agregué un margen a la izquierda (ms-2) -->
    <li class="mb-2"><a class="text-body-secondary" href="#">Envíanos un correo<i class="bi bi-envelope-at-fill ms-2"></i></a></li> <!-- Agregué un margen a la izquierda (ms-2) -->
    <li class="mb-2"><a class="text-body-secondary" href="#">Encuéntranos en<i class="bi bi-geo-alt ms-2"></i></a></li> <!-- Agregué un margen a la izquierda (ms-2) -->
    <!-- <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li> -->
  </ul>
</footer>
</div>